*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:none;
    font-size: 20px;
}
img{
    height: 300px;
    width: 300px;
}
footer a{
float: left;
text-decoration: none;
color: red;    
}
footer p{
   float:right;
   text-decoration: none;
   color: yellow;
}
.header{
    background-color: #E74C3C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.logo img{
    height: 85px;
    width: auto;    
}
.nav-links li{
    padding: 0 30px;
    float: left;
    list-style: none;
}
.nav-links li:hover{

    background-color: blue;
}
.nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
    acti
}
.nav-links a:actve{
  color:red;
}